.warpper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(254, 220, 30, 1), rgba(254, 220, 30, 0.9), rgba(254, 220, 30, 0.8), rgba(254, 220, 30, 0.7), rgba(254, 220, 30, 0.6), rgba(254, 220, 30, 0.5), rgba(254, 220, 30, 0.4), rgba(254, 220, 30, 0.3), rgba(254, 220, 30, 0.2), rgba(254, 220, 30, 0.1), rgba(254, 220, 30, 0));
    > header{
        color: #333;
        padding-top: 50px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > img {
            width: 100px;
            height: 100px;
        }
    }
    > main{
        display: flex;
        flex-direction: column ;
        flex-grow: 1;
    }
}